<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
* 799374340@qq.com
-->
<mapper namespace="StudentMapper">
    <!-- Student -->
    <sql id="createTable">
    DROP TABLE `student`;
    CREATE TABLE `student` (

        `class_id` bigint(20) NOT NULL  COMMENT '所属班级'  DEFAULT  NULL ,

        `sex` tinyint(2) NOT NULL  COMMENT '性别'  DEFAULT  '0' ,
        PRIMARY KEY (`name`) ,
        `name` varchar(50) NOT NULL  COMMENT '学生名称'  DEFAULT  '' ,
 KEY (`identy_key`) ,
        `identy_key` bigint(20) NOT NULL  AUTO_INCREMENT  COMMENT '主键值' 
    )
    </sql>
    <sql id="selectSqlStudent">
        student.class_id classId,
        student.sex ,
        student.name ,
        student.identy_key identyKey
    </sql>

   <sql id="whereSqlStudent">
        1=1
        <if test="classId!=null "> and student.class_id = #{classId}</if>
        <if test="sex!=null "> and student.sex = #{sex}</if>
        <if test="name!=null "> and student.name = #{name}</if>
        <if test="identyKey!=null "> and student.identy_key = #{identyKey}</if>
                <if test="classIdFirst!=null "> and student.class_id <![CDATA[=]]>
                            #{classIdFirst}
                </if>
                <if test="sexFirst!=null "> and student.sex <![CDATA[=]]>
                            #{sexFirst}
                </if>
                <if test="nameFirst!=null "> and student.name <![CDATA[=]]>
                            #{nameFirst}
                </if>
        <if test="whereSql!=null"> ${whereSql}</if>
    </sql>

    <insert id="insertStudent" parameterType="Student" >
        <selectKey resultType="Long" order="AFTER" keyProperty="identyKey" >
            <choose>
                <when test="identyKey==null">
                    SELECT LAST_INSERT_ID() AS identyKey
                </when>
                <otherwise>SELECT #{identyKey} as identyKey</otherwise>
            </choose>
        </selectKey>
        insert into student (
    <if test="identyKey!=null">`identy_key`,</if>
            `class_id`,            `sex`,            `name`        )
        values(
            <if test="identyKey!=null">#{identyKey`},</if>
            <choose>
                <when test="classId==null">
                    NULL
                </when>
                <otherwise>#{classId}</otherwise>
            </choose>,            <choose>
                <when test="sex==null">
                         '0'
                </when>
                <otherwise>#{sex}</otherwise>
            </choose>,            <choose>
                <when test="name==null">
                         ''
                </when>
                <otherwise>#{name}</otherwise>
            </choose>        )
    </insert>

    <select id="getStudent" parameterType="hashmap" resultType="Student">
        select <include refid="selectSqlStudent"/> from student student where <include refid="whereSqlStudent"/>
    </select>
    <select id="getStudentList" parameterType="hashmap" resultType="Student">
        select <include refid="selectSqlStudent"/> from student student where <include refid="whereSqlStudent"/>
        <if test="orderBy != null"> order by  ${orderBy} </if>
        <if test="limit != null"> LIMIT #{limitIndex},#{limit} </if>
    </select>
    <select id="getStudentListCount" parameterType="hashmap" resultType="int">
        select count(1)  from student student
        where <include refid="whereSqlStudent"/>
    </select>

    <update id="updateStudent" parameterType="Student">
        update student student set
                <choose>
                    <when test="classId!=null">student.class_id=#{classId},</when>
                    <otherwise>
                        student.class_id=NULL,
                    </otherwise>
                </choose>
                <choose>
                    <when test="sex!=null">student.sex=#{sex},</when>
                    <otherwise>
                        student.sex=0,
                    </otherwise>
                </choose>
                <choose>
                    <when test="name!=null">student.name=#{name},</when>
                    <otherwise>
                        student.name='',
                    </otherwise>
                </choose>
                student.identy_key = identy_key
        where 1=1
            and student.identy_key = #{identyKey}

    </update>

    <update id="updateStudentByWhereSql" parameterType="hashmap">
        update student student set
                <choose><when test="classId!=null">student.class_id=#{classId},</when></choose>
                <choose><when test="sex!=null">student.sex=#{sex},</when></choose>
                <choose><when test="name!=null">student.name=#{name},</when></choose>
            student.identy_key = identyKey
        where ${whereSql}
    </update>

    <delete id="truncateStudent">
        truncate table student
    </delete>

    <delete id="deleteStudent" parameterType="hashmap">
        delete student from student student where 1=1
            and student.identy_key = #{identyKey}
    </delete>

    <delete id="deleteStudentByWhereSql" parameterType="hashmap">
        delete student from student student where ${whereSql}
    </delete>

    <delete id="batchDeleteStudent" parameterType="java.util.List">
        delete student from student student where student.identy_key in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">#{identyKey}</foreach>
    </delete>
    <delete id="batchDeleteStudentList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            delete student from student student where
            1=1
                    and student.name = #{name}
        </foreach>
    </delete>

    <insert id="batchInsertStudent" parameterType="java.util.List">
        insert into student (
            `class_id`,
            `sex`,
            `name`
        )
        values
        <foreach collection="list" item= "item" index ="index" separator=",">
            (
                <choose><when test="item.classId==null">  NULL  </when><otherwise>#{item.classId}</otherwise></choose> ,
                <choose><when test="item.sex==null">  '0'  </when><otherwise>#{item.sex}</otherwise></choose> ,
                <choose><when test="item.name==null">  ''  </when><otherwise>#{item.name}</otherwise></choose> 
            )
        </foreach >
    </insert>

    <update id="batchUpdateStudent"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update student student
            <set>
                <choose><when test="item.classId!=null">student.class_id=#{item.classId},</when></choose>
                <choose><when test="item.sex!=null">student.sex=#{item.sex},</when></choose>
                <choose><when test="item.name!=null">student.name=#{item.name},</when></choose>
                    student.identy_key = identyKey
            </set>
            where 1=1
                and student.identy_key = #{identyKey}
        </foreach>
    </update>

<!-- 外键字段一对一关联查询模块 begin-->
    <sql id="fromForeignTable">
        <if test="">
            ,classes classes
        </if>
    </sql>
    <sql id="whereForeignDbField">
            <if test="">
                and student.class_id = classes.id
            </if>
    </sql>
    <sql id="whereForeignFormQuery">
    </sql>
    <select id="getStudentOneToOneRelateList" parameterType="hashmap" resultType="Student">
        select <include refid="selectSqlStudent"/>
        from student student <include refid="fromForeignTable"/>
        where   <include refid="whereSqlStudent"/>
        <include refid="whereForeignDbField"/>
        <include refid="whereForeignFormQuery"/>
        <if test="whereSql!=null"> ${whereSql}</if>
        <if test="orderBy != null"> order by  ${orderBy} </if>
        <if test="limit != null"> LIMIT #{limitIndex},#{limit} </if>
    </select>
    <select id="getStudentOneToOneRelateListCount" parameterType="hashmap" resultType="int">
        select count(1)
        from student student <include refid="fromForeignTable"/>
        where   <include refid="whereSqlStudent"/>
        <include refid="whereForeignDbField"/>
        <include refid="whereForeignFormQuery"/>
    </select>
<!-- 外键字段一对一关联查询模块 end-->

    <!-- sql end-->
    <!-- 本文件对于研发人员 只读 不能修改 =================================================================================================================================================== -->
</mapper>
