<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="com.magicalcoder.youyamvc.web" />
    <context:component-scan base-package="com.magicalcoder.youyamvc.app" />
	<mvc:annotation-driven />
    <context:annotation-config/>
	 <!--
	 <mvc:resources mapping="/assets/**"  location="/youyamvc-web/assets/"/>     
         <mvc:default-servlet-handler />
	-->
	<bean id="jspViewResolver"
    		class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
	        <property name="viewClass"  
	            value="org.springframework.web.servlet.view.JstlView" />  
	        <property name="prefix" value="/WEB-INF/jsp/" />  
	        <property name="suffix" value=".jsp" />  
	</bean>

	<!--<bean id="velocityConfigurer"
		  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath"  value="/WEB-INF/vm" />&lt;!&ndash; 模板位置&ndash;&gt;
		<property name="configLocation" value="classpath:velocity.properties" />
	</bean>
	<bean id="velocityViewResolver"
		  class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="viewClass"
				  value="org.springframework.web.servlet.view.velocity.VelocityView" />
		<property name="suffix" value=".vm" />&lt;!&ndash; 无需前缀 否则会跟resourceLoaderPath冲突&ndash;&gt;
		&lt;!&ndash; 避免乱码 &ndash;&gt;
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>-->


















  	<mvc:interceptors>
  			<!-- 所有请求 -->
		   <bean class="com.magicalcoder.youyamvc.web.interceptor.ContextInterceptor"/>
		   <mvc:interceptor>
		   		<!-- 只过滤后台用户登录 -->
                <mvc:mapping path="/admin/**"/>
			    <bean class="com.magicalcoder.youyamvc.web.interceptor.AdminLoginInterceptor"/>
		   </mvc:interceptor>
		   <mvc:interceptor>
			   <mvc:mapping path="/user/**"/>
			   <bean class="com.magicalcoder.youyamvc.web.interceptor.OnlineLoginInterceptor"/>
		   </mvc:interceptor>
	</mvc:interceptors>  
</beans>
